<!doctype html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Signup page</title>
</head>
<body>
	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-6 offset-md-3">

					<div class="my-card mt-1">

						<!-- This error box should appear when error is occurring while registering i.e if session have some message  
					   <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                          
                         <p class="text-center" th:text="${session.message.content}"></p>
                         
                         <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                         
                       </div> -->


						<p th:text="${message}" class=text-center style="color:green"></p>

					<!-- <div th:text="${message}" class="alert alert-success text-center" role="alert"></div> -->	




						<div class="container text-center">
							<img style="width: 70px" src="" th:src="@{/image/form.png}"
								alt="" />
						</div>

						<h3 class="text-center">Register Here</h3>

						<form novalidate action="" th:action="@{/do_register}"
							method="post" th:object="${user}">

							<!-- Name field -->

							<div class="form-group">
								<label for="name_field">Your Name</label> <input name="name"
									type="text" class="form-control" id="name_field"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
									aria-describedby="nameHelp" placeholder="Enter your name"
									required th:value="${user.name}" />
								<!-- This will show the name in the form and also name attribute to send data to user-->

								<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback">
								</div>

							</div>

							<!-- Email field -->

							<div class="form-group">
								<label for="email_field">Your Email</label> <input name="email"
									type="email" class="form-control" id="email_field"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
									aria-describedby="emailHelp" placeholder="Enter your email"
									required th:value="${user.email}" />

								<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback">
								</div>
							</div>

							<!-- Password field -->

							<div class="form-group">
								<label for="password_field">Your Password</label> <input
									name="password" type="password" class="form-control"
									th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
									id="password_field" aria-describedby="passwordHelp"
									placeholder="Enter your password" required />

								<div th:each="e : ${#fields.errors('password')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback">
								</div>
							</div>

							<!-- About user -->

							<div class="form-group">

								<textarea name="about" th:value="${user.about}"
									placeholder="Enter something about yourself"
									class="form-control" rows="3"></textarea>

							</div>

							<!-- Terms and conditions -->
							<div class="form-group form-check text-center">

								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement"
									th:classappend="${#fields.hasErrors('enabled')?'is-invalid':''}" />
								<label for="agreement">Accept terms and conditions</label>

								<div th:each="e : ${#fields.errors('enabled')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback">
								</div>


							</div>



							<div class="container text-center">

								<button type="submit" class="btn bg-primary text-white">Submit</button>

								<button type="reset" class="btn bg-warning">Reset</button>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</section>
</body>
</html>
